@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-btn: #ccc;
    --hover-btn: #aeaeae;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.btn {
    background: var(--bg-btn);
    padding: .5rem;
    border-radius: .5rem;
    transition: background 100ms ease;
}

.btn:hover {
    background: var(--hover-btn);
}